<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>APEX full cain</title>
    <link rel="icon" type="image/png" href="data/favicon.png" />
    <link rel="stylesheet" href="data/style.css">
    <link rel="stylesheet" href="data/styles_flags_live_timing.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.3/angular-sanitize.min.js"></script>
    <script src="data/xml2json.min.js"></script>
    <script src="data/ng-csv.min.js"></script>

    <script src="data/app.js?v20231108"></script>
    <script src="data/apex.js?v20231108"></script>
    <script src="data/tracks.js?v20231108"></script>
    <script src="data/utils.js?v20231108"></script>
    <script src="data/controller.js?v20231108"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-82NJZ6EWYZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-82NJZ6EWYZ');
    </script>
</head>

<body ng-app="apexCain">
	<div ng-controller="homeController" ng-style="{'font-size': settings.fontSize+'px'}">
        <div style="position:fixed; top: 20px; right: 20px; cursor: default; text-align: right; z-index: 999;" ng-mouseleave="showHistory = showComments = showTools = false;">
            <span style="font-size: 200%;" ng-mouseenter="showHistory = true; showTools = showComments = false;">&#9194;</span><!--History-->&nbsp;
            <span style="font-size: 200%;" ng-mouseenter="showComments = true; showTools = showHistory = false;">&#128195;</span><!--Messages-->&nbsp;
            <span style="font-size: 200%;" ng-mouseenter="showTools = true; showComments = showHistory = false;">&#127899;&#65039;</span><!--Tools-->

            <div ng-show="showHistory" style="background: #2C2C2C; padding: 10px; border: 1px solid #CCC; max-height: 500px; overflow: auto; text-align: left;">
                <div ng-if="sessions.length === 0" style="padding: 10px;">No history</div>
                <div ng-if="sessions.length > 0">
                    <div ng-repeat="session in sessions" ng-click="selectSession(session.id)" class="session" ng-class="session.selected && 'active'">
                        {{session.name}}
                    </div>
                </div>
            </div>

            <div ng-show="showComments" style="background: #2C2C2C; padding: 0 10px 0 10px; border: 1px solid #CCC; max-height: 500px; overflow: auto; text-align: left;">
                <div ng-if="comments === ''" style="padding: 10px;">No comment</div>
                <div ng-if="comments !== ''" ng-bind-html="comments" class="comments"></div>
            </div>

            <div ng-show="showTools" style="background: #2C2C2C; padding: 10px; border: 1px solid #CCC; font-size: 120%;">
                <label for="displaySectors">Display sectors: </label><input id="displaySectors" type="checkbox" ng-model="settings.displaySectors"><br/>
                <label for="displayLapNb">Display lap number: </label><input id="displayLapNb" type="checkbox" ng-model="settings.displayLapNb"><br/>
                <label for="displayBestLap">Display best lap: </label><input id="displayBestLap" type="checkbox" ng-model="settings.displayBestLap"><br/>
                <label for="displayPace">Display pace: </label><input id="displayPace" type="checkbox" ng-model="settings.displayPace"><br/>
                <label for="displayDriver">Display driver's name: </label><input id="displayDriver" type="checkbox" ng-model="settings.displayDriver"><br/>
                <label for="displayTrack">Display track: </label><input id="displayTrack" type="checkbox" ng-model="settings.displayTrack"><br/>
                <label for="displayNumber">Display kart number on track: </label><input id="displayNumber" type="checkbox" ng-model="settings.displayNumber"><br/>
                <label for="enableSound">Enable sound: </label><input id="enableSound" type="checkbox" ng-model="settings.enableSound"><br/>
                <label for="teamNumber">My team ({{settings.teamNumber}}): </label><input id="teamNumber" type="range" ng-model="settings.teamNumber" min="1" max="99" step="1"><br/>
                <!-- TODO Sound language: <select ng-model="settings.soundLang">
                                    <option value="fr">Francais</option>
                                    <option value="en">English</option>
                                </select><br/>-->
                <label for="fontSize">Font size ({{settings.fontSize}}): </label><input id="fontSize" type="range" ng-model="settings.fontSize" min="10" max="26"><br/>
                <label for="paceNbLaps">Pace lap nb ({{settings.paceNbLaps}} laps): </label><input id="paceNbLaps" type="range" ng-model="settings.paceNbLaps" min="5" max="1500" step="5"><br/>
                <label for="pitTime">Pit time ({{selectedTrack.pitTime}} s): </label><input id="pitTime" type="range" ng-model="selectedTrack.pitTime" min="30" max="500" step="5"><br/>
                <label for="retrieveNbLaps">Nb lap retrieved ({{settings.retrieveNbLaps}} laps): </label><input id="retrieveNbLaps" type="range" ng-model="settings.retrieveNbLaps" min="50" max="1500" step="50"><br/>
                <label for="raceHomogeneity">Overall race homogeneity ({{settings.raceHomogeneity}}): </label><input id="raceHomogeneity" type="range" ng-model="settings.raceHomogeneity" min="1.015" max="1.105" step="0.01" ng-change="computeLastLapsOverallColors()"><br/>
                <label for="trackRotation">Track rotation: </label><input id="trackRotation" type="range" ng-model="selectedTrack.rotation" min="0" max="360"><br/>
                <span ng-click="resetSettings()" style="cursor: pointer; font-size: 80%;">&#129533;&nbsp;Reset default settings</span><br/>
                <span ng-click="downloadObjectAsJson(title, subtitle, karts)" style="cursor: pointer; font-size: 80%;">&#128190;&nbsp;Export all as JSON</span>
            </div>
        </div>

        <!-- No track selected -->
        <div ng-show="selectedTrack.url === ''" style="position: fixed; top: 50%; left: 50%; font-size: 150%; font-weight: bold; transform: translate(-50%, -50%);">No track selected</div>

        <div ng-show="selectedTrack.url !== ''">
            <!-- No live timing -->
            <div ng-show="raceState === ''" style="position: fixed; top: 50%; left: 50%; font-size: 150%; font-weight: bold; transform: translate(-50%, -50%);">No live timing</div>

            <!-- Header information -->
            <div ng-show="raceState != ''">
                <div class="raceState {{raceState}}"></div>
                <h2 style="display: inline-block; margin: 0 0 10px; line-height: 30px;">
                    {{title}}
                    <span ng-if="title !== '' && subtitle !== ''">- </span>{{subtitle}}
                    <span ng-if="remainingTime">- {{remainingTime | formatTimeLarge }}</span>
                    <span ng-if="dyn1">- {{dyn1}}</span>
                    <span ng-if="dyn2">- {{dyn2}}</span>
                </h2>
            </div>

            <!-- Overall grid display -->
            <div ng-show="raceState != ''" id="timing" style="display: inline-block; width: max-content; background: black; margin-right: 5px;">
                <table class="timing">
                    <tr class="header">
                        <td ng-if="idState"></td>
                        <td>Pos.</td>
                        <td ng-if="idDeltaPos"></td>
                        <td ng-if="idKart != false">Kart</td>
                        <td ng-if="idCategory">Category</td>
                        <td></td>
                        <td>Name</td>
                        <td ng-if="idGap" style="width: max-content;">Gap</td>
                        <td ng-if="idInterval" style="width: 100px;">Interval</td>
                        <td ng-if="idSector1 && settings.displaySectors" style="width: max-content; text-align: left;">&nbsp;S1</td>
                        <td ng-if="idSector2 && settings.displaySectors" style="width: max-content; text-align: left;">&nbsp;S2</td>
                        <td ng-if="idSector3 && settings.displaySectors" style="width: max-content; text-align: left;">&nbsp;S3</td>
                        <td style="width: max-content; text-align: left;">&nbsp;Last lap</td>
                        <td ng-if="settings.displayPace">
                            Pace&nbsp;<span style="font-weight: normal; font-size:80%;">({{settings.paceNbLaps}}&nbsp;laps)</span>
                        </td>
                        <td ng-if="idBestLap && settings.displayBestLap" style="width: max-content;">Best lap</td>
                        <td ng-if="idNbLaps && settings.displayLapNb">Laps</td>
                        <td ng-if="idSpeed">Speed</td>
                        <td ng-if="idOnTrack">On&nbsp;track</td>
                        <td ng-if="idPits">Pits</td>
                        <td ng-if="idPenalty">Pen.</td>
                    </tr>
                    <tr ng-repeat="kart in karts | orderBy: 'position'"
                        style="text-align: left; background: {{(kart.displayLaps) ? kart.color.replace('1.0', '0.5') : ''}};"
                        class="global"
                        ng-mouseover="kart.highlight = true;"
                        ng-mouseleave="kart.highlight = false;">
                        <td ng-if="idState" class="{{kart.state}}"></td>
                        <td style="clip-path: polygon(0% 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);background: white; color: black; font-weight: bold;">{{kart.position}}&nbsp;</td>
                        <td ng-if="idDeltaPos" class="{{kart.deltaPosClass}}" style="padding-right: 0;">{{kart.deltaPos}}</td>
                        <td ng-if="idKart != false" 
                            style="background-color: #3e9eff; color: #ffffff; clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%); {{categories[kart.group]}}">
                            &nbsp;&nbsp;{{kart.kartNumber}}
                        </td>
                        <td ng-if="idCategory" style="white-space: nowrap;">{{kart.category}}</td>
                        <td ng-style="{'line-height': settings.fontSize+'px', 'padding-right': '0', 'width': '12px' }">
                            <span ng-show="kart.displayLaps || kart.highlight" style="cursor: pointer; color: {{kart.color}}" ng-click="kart.color = getRandomColor();">&#9673;</span>
                        </td>
                        <td style="cursor: pointer; max-width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;text-align: left; padding-left: 0;"
                            ng-click="loadChronos(kart.id)">
                            <span ng-if="kart.nation !== ''" ng-class="kart.nation" style="margin-left: 5px;"></span>&nbsp;
                            {{kart.name}}
                            <span ng-if="kart.currentDriver && settings.displayDriver" style="color: grey;">({{kart.currentDriver}})</span>
                        </td>
                        <td ng-if="idGap" style="white-space: nowrap;">{{kart.gap}}</td>
                        <td ng-if="idInterval" style="white-space: nowrap;">{{kart.interval}}</td>
                        <td ng-if="idSector1 && settings.displaySectors" style="text-align: left; font-size: 80%;">
                            <span ng-if="kart.sector1" ng-style="kart.sector1OverallColor">{{kart.sector1 | formatTime }}</span>&nbsp;<span ng-if="kart.sector1Color === '#fa00fa' || kart.sector1Color === '#0f0'" ng-style="{'color': kart.sector1Color}">&#10073;</span>
                        </td>
                        <td ng-if="idSector2 && settings.displaySectors" style="text-align: left; font-size: 80%;">
                            <span ng-if="kart.sector2" ng-style="kart.sector2OverallColor">{{kart.sector2 | formatTime }}</span>&nbsp;<span ng-if="kart.sector2Color === '#fa00fa' || kart.sector2Color === '#0f0'" ng-style="{'color': kart.sector2Color}">&#10073;</span>
                        </td>
                        <td ng-if="idSector3 && settings.displaySectors" style="text-align: left; font-size: 80%;">
                            <span ng-if="kart.sector3" ng-style="kart.sector3OverallColor">{{kart.sector3 | formatTime }}</span>&nbsp;<span ng-if="kart.sector3Color === '#fa00fa' || kart.sector3Color === '#0f0'" ng-style="{'color': kart.sector3Color}">&#10073;</span>
                        </td>
                        <td style="text-align: left;">
                            <span ng-if="kart.lastLap" ng-style="kart.lastLapOverallColor" ng-click="playLastLap(kart.lastLap)">
                                {{kart.lastLap | formatTime }}&nbsp;<span ng-if="kart.lastLapColor === '#fa00fa' || kart.lastLapColor === '#0f0'" ng-style="{'color': kart.lastLapColor}">&#10073;</span>
                            </span>
                        </td>
                        <td ng-if="settings.displayPace"><span ng-if="kart.displayLaps">{{averageChronos(kart.id, settings.paceNbLaps, null) | formatTime }}</span></td>
                        <td ng-if="settings.displayBestLap" ng-style="{'color': kart.bestLapColor}">{{kart.bestLap | formatTime }}</td>
                        <td ng-if="settings.displayLapNb && idNbLaps">{{kart.nbLaps}}</td>
                        <td ng-if="idSpeed">{{kart.speed}}</td>
                        <td ng-if="idOnTrack" class="{{kart.trackTimeClass}}">{{kart.trackTime}}</td>
                        <td ng-if="idPits">{{kart.nbPits}}</td>
                        <td ng-if="idPenalty" style="color: red; font-weight: bold; white-space: nowrap;">{{kart.penalties}}</td>
                    </tr>
                </table>
            </div>

            <!-- Lap time by kart -->
            <div id="lapTime" style="display: inline-block; vertical-align:top; width: max-content; overflow: auto; min-height: 500px;">
                <table>
                    <tr style="font-weight: bold;">
                        <td ng-repeat="kart in karts | orderBy: 'position'"
                            ng-if="kart.displayLaps && kart.chronos.length > 0"
                            style="max-width:130px;">
                            <!-- Kart number and name -->
                            <div ng-click="hideKart(kart);" style="padding-bottom: 3px; cursor: pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <span ng-if="idKart != false"
                                          style="background-color: #3e9eff; color: #ffffff; padding-left: 15px; padding-right: 5px; clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%); margin-right: 5px; {{categories[kart.group]}}">
                                        {{kart.kartNumber}}
                                    </span>
                                {{kart.name}}
                            </div>

                            <!-- Drivers -->
                            <div style="color: grey; font-weight: normal; font-size: 80%;">
                                <div ng-repeat="driver in kart.drivers" ng-if="driver._current" style="font-weight: bold; color: darkgrey; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><img src="http://www.apex-timing.com/live-timing/commonv2/images/DrTeam.png" alt="driver" style="height: {{settings.fontSize}}px;"/>&nbsp;{{driver._name}}</div>
                                <div ng-repeat="driver in kart.drivers" ng-if="!driver._current" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{driver._name}}</div>
                            </div>

                            <div ng-if="kart.drivers.length > 0" ng-click="kart.displayStats = true;" style="cursor: pointer; text-decoration: underline; font-size: 80%;">
                                See all stats &#128202;
                            </div>

                            <div style="cursor: pointer; text-decoration: underline; font-size: 80%;" ng-csv="getCsvData(kart)" csv-header="getCsvHeader()" filename="P{{kart.position}}_{{kart.name}}_{{title}}-{{subtitle}}.csv" field-separator=";">
                                Export to CSV &#128190;
                            </div>

                            <!-- Sound settings -->
                            <div style="font-weight: normal; font-size: 80%;" ng-if="settings.enableSound && isSessionUnderway()">
                                <span ng-if="kart.soundLastLap">&#128264;</span><span ng-if="!kart.soundLastLap">&#128263;</span> Last lap: <input type="checkbox" ng-model="kart.soundLastLap"><br/>
                                <span ng-if="kart.soundPitEntrance">&#128264;</span><span ng-if="!kart.soundPitEntrance">&#128263;</span> Pit entry: <input type="checkbox" ng-model="kart.soundPitEntrance"><br/>
                                <span ng-if="kart.soundPitTime">&#128264;</span><span ng-if="!kart.soundPitTime">&#128263;</span> Pit time: <input type="checkbox" ng-model="kart.soundPitTime"><br/>
                                <span ng-if="kart.soundTrackTime">&#128264;</span><span ng-if="!kart.soundTrackTime">&#128263;</span> Track time: <input type="checkbox" ng-model="kart.soundTrackTime"><br/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <!-- All laps time -->
                        <td ng-repeat="kart in karts | orderBy: 'position'"
                            ng-if="kart.displayLaps"
                            style="border-right: 5px solid black; text-align: center;">
                            <div ng-repeat="chrono in kart.chronos | orderBy: '-lap'" ng-style="chrono.allLapsColor" ng-click="chrono.type = 'pits'" style="max-height: 1000px; overflow: auto;">
                                <span style="color:grey; font-size:70%;">L{{chrono.lap}}</span>&nbsp;{{chrono.time | formatTime }}&nbsp;<span ng-if="chrono.color === '#fa00fa' || chrono.color === '#0f0'" ng-style="{'color': chrono.color}">&#10073;</span>
                                <span ng-if="chrono.pitTime && chrono.pitTime !== chrono.time" style="font-size: 70%;"><br/>(Pit: {{chrono.pitTime| formatTime}})</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="teams" style="display: inline-block; vertical-align:top; width: max-content; overflow: auto;">
                <div ng-repeat="kart in karts | orderBy: 'position'" ng-if="kart.displayStats && kart.drivers" style=" position: relative;margin-top: 20px; margin-right: 20px; display: inline-block; max-height: 500px; overflow: scroll;">
                    <div style="position: absolute; top: 0px; right: 10px; cursor: pointer;" ng-click="kart.displayStats = false;">&#10060;</div>
                    <div style="font-weight: bold; font-size: 110%; padding-bottom: 5px; margin-bottom: 5px;">
                    <span ng-if="idKart != false"
                          style="background-color: #3e9eff; color: #ffffff; padding-left: 15px; padding-right: 5px; margin-right: 10px; clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%); {{categories[kart.group]}}">
                        {{kart.kartNumber}}
                    </span>
                        <span ng-if="kart.nation != ''" ng-class="kart.nation" class="nat"></span>&nbsp;
                        {{kart.name}}
                        <span ng-if="kart.infoCategory" style="font-weight:normal;">({{kart.infoCategory}})</span>
                    </div>
                    <table>
                        <tr>
                            <td ng-repeat="driver in kart.drivers" style="width: 120px; max-width: 120px;">
                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <span ng-if="driver._nat !== ''" ng-class="driver._nat" class="nat"></span>
                                    <span ng-if="driver._current" style="font-weight: bold;"><img src="http://www.apex-timing.com/live-timing/commonv2/images/DrTeam.png" alt="driver"/>&nbsp;{{driver._name}}</span>
                                    <span ng-if="!driver._current" >{{driver._name}}</span>
                                </div>
                                <div ng-if="driver.nbLaps > 0" style="font-size: 90%; color: grey">
                                    Pace: {{averageChronos(kart.id, settings.retrieveNbLaps, driver) | formatTime }}<br/>
                                    Best lap: {{driver.bestLap | formatTime }}<br/>
                                    Nb laps: {{driver.nbLaps}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td ng-repeat="driver in kart.drivers" style="border-right: 5px solid black;">
                                <div ng-repeat="chrono in kart.chronos | orderBy: '-lap' | filter : { driver: driver} " ng-style="chrono.allLapsColor">
                                    <span style="color:grey; font-size:70%;">L{{chrono.lap}}</span>&nbsp;
                                    {{chrono.time | formatTime }}&nbsp;<span ng-if="chrono.color === '#fa00fa' || chrono.color === '#0f0'" ng-style="{'color': chrono.color}">&#10073;</span>
                                    <span ng-if="chrono.pitTime" style="font-size: 70%;"><br/>({{chrono.pitTime| formatTime}})</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Track display -->
        <div id="track" ng-show="settings.displayTrack" style="position: fixed; bottom: 40px; right: 20px; width: 30%;">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 15 15" transform="rotate({{selectedTrack.rotation}})" style="width: 100%;" ng-if="settings.displayTrack && raceState !== ''">
                <path id="pitsProgress" fill-opacity="0" stroke-width="0.3" stroke="#2c2c2c" d="{{selectedTrack.pitSvg}}"/>
                <path id="trackProgress" fill-opacity="0" stroke-width="0.3" stroke="#bbb" d="{{selectedTrack.trackSvg}}"/>
                <path id="startLine" fill-opacity="0" stroke-width="0.1" stroke="red" d="{{selectedTrack.startSvg}}"/>
                <g ng-repeat="kart in karts"
                   ng-if="kart.t0"
                   id="{{kart.id}}"
                   ng-mouseover="kart.highlight = true;"
                   ng-mouseleave="kart.highlight = false;"
                   ng-click="loadChronos(kart.id);">
                    <circle ng-if="kart.displayLaps || kart.highlight"
                            stroke="white"
                            stroke-width="0.1"
                            r="0.4"
                            cy="0" cx="0"
                            style="cursor:pointer; fill: {{kart.color}};">
                    </circle>
                    <circle ng-if="!kart.displayLaps && !kart.highlight"
                            stroke="white"
                            stroke-width="0.05"
                            r="0.2"
                            cy="0" cx="0"
                            style="cursor:pointer; fill: hsla(0, 100%, 100%, 0.7);">
                    </circle>

                    <text
                            ng-if="settings.displayNumber && (kart.displayLaps || kart.highlight)"
                            x="0" y="0.15" text-anchor="middle"
                            font-size="0.5px"
                            font-weight="bold"
                            fill="white"
                            alignment-baseline="middle"> {{kart.kartNumber}}
                    </text>
                </g>
            </svg>
        </div>

        <!-- Highlight message -->
        <div id="highlight" ng-show="highlightMessage" style="width: 80%; text-align:center; position: fixed; bottom: 50px; left: 10%; padding: 10px; border: 1px solid #ffbf00; color: #9F6000; background-color: #FEEFB3; border-radius: 10px;">
            {{highlightMessage}}
            <div style="position:absolute; right: 15px; top: 10px; cursor: pointer" ng-click="highlightMessage = '';">x</div>
        </div>

        <!-- Other information -->
		<div style="color: grey; font-size: 70%; position:fixed; bottom: 20px; right: 20px;">
            <label for="track-selection" ng-click="showTrackSelection = true;">Track:</label>
            <select id="track-selection" ng-show="showTrackSelection" ng-model="selectedTrack" ng-options="track as track.name for track in tracks | orderBy: 'name'" ng-change="loadApexConfig(true)"></select>
            <span ng-if="selectedTrack.url !== ''">
                <a ng-href="http://www.apex-timing.com/live-timing/{{selectedTrack.url}}/" target="_blank">http://www.apex-timing.com/live-timing/{{selectedTrack.url}}/</a>
            </span>
            <span onclick="moveTrack('track')">
                {{selectedTrack.name}}
                <span ng-if="selectedTrack.apexName">- {{selectedTrack.apexName}}</span>
            </span>

		</div>
	</div>
</body>
</html>
